@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

code {
  text-transform: lowercase;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 50%;
  }

  .gHeader .hr {
    display: none;
  }

  .down {
    display: flex !important;
  }

  .top {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }

  .lgLvl {
    position: absolute;
    bottom: 0;
    width: 100% !important;
  }
 
}
