html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 50%;
  }

  .gHeader .hr {
    display: none;
  }

  .down{
    display: flex !important;
  }

  .top{
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
